body,html{
  margin:0; padding:0;
  height:100%;
  overflow:hidden;
  font-family: Arial;
}

.bg-video{
  position:fixed;
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:-1;
  filter: brightness(0.5);
}

.content{
  text-align:center;
  color:white;
  margin-top:100px;
}

h1{
  font-size:45px;
  text-shadow: 3px 3px 10px black;
}

.slideshow img{
  width:350px;
  height:350px;
  border-radius:15px;
  box-shadow:0 0 20px #fff;
  object-fit:cover;
}

/* Confetti dots */
#confetti .dot{
  position:absolute;
  width:8px;
  height:8px;
  background:red;
  border-radius:50%;
  animation: fall 3s linear infinite;
}

@keyframes fall{
  0%{ transform: translateY(-10%); }
  100%{ transform: translateY(120%); }
}
